$c-white: rgba(255, 255, 255, 0.87);
$c-offwhite: rgba(255, 255, 255, 0.60);

// LoL Theme
$c-backgroundDark: #010a13;
$c-backgroundDarkAlpha: rgba(1, 10, 19, 0.6);
$c-backgroundLight: #0B131B;
$c-backgroundLightAlpha: rgba(11, 19, 27, 0.6);
$c-backgroundCTA: #013350;
$c-border: #1A2428;
$c-borderGold: #6D5326;
$c-text: #BDA168;

// Rank colouring
$c-bronze: #965A38;
$c-silver: #ccc2c2;
$c-gold: #D9A441;
$c-platinum: #E8E8E8;
$c-diamond: #E1FAFC;
