@import 'variables';
@import 'mixins';

// Mobile UI visibility
@media (max-width: 768px) {
  .ui.desktop {
    display: none !important;
  }
}

// Desktop UI visibility
@media (min-width: 769px) {
  .ui.mobile {
    display: none !important;
  }
}

body {
  font-family: $sans;
  color: $c-white;
}

h1, h2, h3, h4, h5, h6 {
  &.ui.header {
    font-family: $serif;
    font-weight: 400;
    color: $c-text;
  }
}

.ui {
  &.menu {
    &.fixed {
      border-bottom: 1px solid $c-borderGold;
    }

    &.vertical.sidebar {
      border-right: 1px solid $c-borderGold;
    }
  }

  &.breadcrumb .gold.divider {
    color: $c-text !important;
  }

  // Rating colouring (Will likely move the theme)
  &.custom.rating {
    .icon {
      &.active::before {
        color: $c-text;
        text-shadow: 0 -1px 0 $c-borderGold, -1px 0 0 $c-borderGold, 0 1px 0 $c-borderGold, 1px 0 0 $c-borderGold;
      }

      &::before {
        font-family: Icons;
        content: "\f04d";
        color: lighten($c-backgroundLight, 5%);
      }
    }

    /* Toying with custom colouring
    &.annie .active.icon::before {
      color: #d2402a;
      text-shadow: 0 -1px 0 darken(#d3402a, 10%), -1px 0 0 darken(#d3402a, 10%), 0 1px 0 darken(#d3402a, 10%), 1px 0 0 darken(#d3402a, 10%);
    }
    &.jinx .active.icon::before {
      color: #d9507e;
      text-shadow: 0 -1px 0 darken(#d9507e, 10%), -1px 0 0 darken(#d9507e, 10%), 0 1px 0 darken(#d9507e, 10%), 1px 0 0 darken(#d9507e, 10%);
    }
    */
  }

  &.label {
    &.bronze {
      @include linear-split($c-bronze, darken($c-bronze, 8%));
    }

    &.silver {
      @include linear-split($c-silver, darken($c-silver, 8%));
      color: rgba(0, 0, 0, 0.6);
    }

    &.gold {
      @include linear-split($c-gold, darken($c-gold, 8%));
      color: rgba(0, 0, 0, 0.6);
    }

    &.platinum {
      @include linear-split($c-platinum, darken($c-platinum, 8%));
      color: rgba(0, 0, 0, 0.6);
    }

    &.diamond {
      @include linear-split($c-diamond, darken($c-diamond, 8%));
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

// CSS for Riot API formatting
.spell {
  .colorFF9900, .name {
    font-weight: bold;
    color: $c-text;
  }

  .colorFFFFFF {
    font-weight: bold;
    color: $c-offwhite;
  }

  .colorFF8C00 {
    font-weight: bold;
    color: #ffcc00;
  }

  .color99FF99 {
    font-weight: bold;
    color: #99ff99;
  }

  .colorFFEB7F {
    font-weight: bold;
    color: #ffeb7f;
  }
}
